<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>當日天氣</title>
    <style>
        body {
            font-family: Roboto;
            margin: 0;
            padding: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100vh;
            background-color: #d0d0ce;
        }

        #weather-box {
            background-color: #f1ecec;
            width: 500px;
            color: #272727;
            padding: 40px;
            border-radius: 12px;
            box-shadow: 10px 10px 25px #00000080;
            text-align: center;
        }

        #temperature,
        #location,
        #date {
            font-size: 20px;
            margin: 10px 0;
        }
    </style>
</head>

<body>
    <div id="weather-box">
        <h1>今日天氣</h1>
        <p id="loading"> 載入中.. </p>
        <p id="date"></p>
        <p id="location"></p>
        <p id="temperature"></p>
    </div>

    <script>
        const url =
            "http://api.weatherstack.com/current?access_key=122fc1e6178fab2a85797f43b18519fd&query=Taipei&units=m";
        // weatherstack的api

        var loading_obj = document.getElementById('loading')
        var date_obj = document.getElementById('date')
        var location_obj = document.getElementById('location')
        var temperature_obj = document.getElementById('temperature')

        fetch(url).then(res => res.json())
            .then(data => {
                var date = data['location']['localtime']
                var location = data['location']['name']
                var temperature = data['current']['temperature']

                loading_obj.setAttribute('hidden', true)
                date_obj.innerText = `Date：${date}`
                location_obj.innerText = `Location：${location}`
                temperature_obj.innerText = `Temperature：${temperature}`

            })
    </script>
</body>

</html>