<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>1216 衣櫃架構</title>
</head>

<style>
    body {
        background-color: #F9F9ED;
        margin: 0;
        /* 清除 body 的預設 margin */
    }

    a {
        text-decoration: none;
        color: black;
    }

    .box

    /*大框*/
        {
        margin: 25px;
        background-color: #D9DBF1;
        width: 200px;
        height: 80px;
        /* 調整高度 */
        border-radius: 12px;
        /* 圓角 */
        display: flex;
        align-items: center;
        /* 垂直置中對齊 */
        justify-content: center;
        /* 水平置中對齊 */
    }

    .boxes {
        display: flex
    }

    .small-box

    /*小框*/
        {
        margin: 25px;
        background-color: #D9DBF1;
        width: 100px;
        height: 40px;
        /* 調整高度 */
        border-radius: 12px;
        /* 圓角 */
        display: flex;
        align-items: center;
        /* 垂直置中對齊 */
        justify-content: center;
        /* 水平置中對齊 */
    }

    .box-title

    /*小卡大標*/
        {
        margin: 25px;
        font-family: 'Roboto Slab', serif;
    }

    .flex {
        display: flex;
        align-items: center;
        /*垂直置中對齊*/
        justify-content: center;
        /*水平置中對齊*/
    }

    .container {
        width: 1200px;
        margin: 0 auto;
    }

    .cards

    /*位置*/
        {
        margin: 25px;
        width: auto;
        height: auto;
        /*高度位置*/
        display: flex;
        flex-wrap: wrap;
        /*設定flex可以多行*/
        justify-content: flex-start;
        /*靠左對齊*/
        align-items: center;
        /*垂直置中對齊*/
    }

    .mix {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 25px;
    }

    .card

    /*小卡大小*/
        {
        margin-bottom: 0px;
        background-color: #fff;
        width: 250px;
        height: 250px;
        border-radius: 12px;
        /*圓角*/
        box-shadow: 0px 13px 10px -7px rgba(0, 0, 0, 0.1);
        /*陰影*/
        background-size: 100%;
    }

    .card-img {
        width: 250px;
        border-radius: 12px;
        /*圓角*/
    }
</style>

<body>
    <div class="box">
        <h1 class="box-title">我的最愛</h1>
    </div>
    <div class="cards">
        <% if (alert !=null) { %> <!-- 判斷是否有警示-->
            <h1>
                <%=alert%>
            </h1>
            <%}else if (images){ for(const [index, item] of images.entries()){ %>
                <!-- ['123.png', '456.png', '789.png']-->
                <div class="mix">
                    <div class="card" style="background-image: url('/images/<%= JSON.parse(item).up %>');"></div>
                    <div class="card" style="background-image: url('/images/<%= JSON.parse(item).off %>');"></div>
                </div>
                
                <button onclick="location.href='/profile/remove?index=<%=index%>';">刪除</button>
                <!-- /images/123.png-->
            <% }} %>
    </div>
</body>

</html>